<header>
    <div class="header_wraper container">
        <div class="logo">
            <img src="{{ section.settings.logo | image_url }}" alt="" height="{{ section.settings.logo.height }}" width="{{ section.settings.logo.width }}">
        </div>
        {% if section.settings.note_text != blank %}
            <div class="note_text small_hide">
                <p>{{ section.settings.note_text }}</p>
            </div>
        {% endif %}
        {% if section.settings.button_text != blank %}
            <div class="header_action_btn small_hide">
                <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }} <img src="https://cdn.shopify.com/s/files/1/0934/2900/6699/files/Line_15.svg" height="" width="" alt=""></a>
            </div>
        {% endif %}

        {% comment %} Toggle button for mobile device {% endcomment %}
        <details class="mobile_menu large_hide">
            <summary class="toggle_menu"><img src="{{ 'toggle_open.png' | asset_img_url }}" class="open_btn" height="" width="" alt=""><img src="{{ 'toggle_close.png' | asset_img_url }}" alt="" height="" width="" class="close_btn"></summary>
            <div class="mobile_content">
                {% if section.settings.note_text != blank %}
                    <div class="note_text">
                        <p>{{ section.settings.note_text }}</p>
                    </div>
                {% endif %}
                {% if section.settings.button_text != blank %}
                    <div class="header_action_btn ">
                        <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }} <img src="https://cdn.shopify.com/s/files/1/0934/2900/6699/files/Line_15.svg" height="" width="" alt=""></a>
                    </div>
                {% endif %}
            </div>
        </details>
    </div> 
</header>
<style>
    header {
    height: 64px;
    background-color: #F5F5F5;
    display: flex;
    width: 100%;
    align-items: center;
}    
.header_wraper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}
.logo {
    line-height: 0;
}
.header_action_btn a {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: center;
    color: #000;
    background: linear-gradient(to right, #000 50%, #fff544 50%) right;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200%;
    gap: 15px;
    height: 44px;
    text-decoration: none;
    transition: .5s ease-out;
    text-transform: uppercase;
}
.note_text {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 13.42px;
    text-align: center;
    color: #000;
}
.header_action_btn a:hover {
    background-position: left;
    color: #fff;
}
.header_action_btn a img {
    filter: brightness(0);
}
.header_action_btn a:hover img {
    filter: brightness(1);
}
@media screen and (min-width:768px){
    .large_hide {
        display: none;
    }
}
@media screen and (max-width:1920px){
    .logo {
        max-width: 150px;
    }
    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media screen and (max-width:767px){
    header {
        position: relative;
    }
    .small_hide {
        display: none;
    }
    .header_wraper {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row-reverse;
    }
    .header_wraper {
        justify-content: center;
    }
    .logo {
        margin-left: -30px;
        width: 100%;
        text-align: center;
        z-index: 99;
        position: relative;
    }
    [open] .open_btn {
        display: none;
    }
    .close_btn {
        display: none;
    }
    [open] .close_btn {
        display: block;
    }
    .mobile_content {
        position: absolute;
        margin-top: 32px;
        background: #fff;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        text-align: center;
    }
    .mobile_content {
        position: relative;
        margin-top: 24px;
        background: #F2F2F2;
        width: 100%;
        z-index: 999;
        padding: 25px 0;
    }
    .header_action_btn a{
        margin:auto;
    }
    .mobile_menu {
        position: absolute;
        left: 0px;
        width: 100%;
        z-index: 0;
        top: 25px;
        bottom: 0;
        margin: auto;
    }
    details.mobile_menu summary {
        margin-left: 15px;
    }
}
@media screen and (min-width:1920px){
   .header_wraper {
        max-width: 1500px;
    }
}
@media screen and (min-width:2800px) {
    .header_wraper {
        max-width: 3090px;
    }
    header {
        height: 170px;
    }
    .logo {
        max-width: 400px;
        width: 100%;
    }
    .header_action_btn a{
        font-size: 43px;
        line-height: 55px;
        width: 550px;
        gap: 48px;
        height: 117px;
    }
    .header_action_btn a img {
        width: 60px;
    }
    .note_text {
        font-size: 42px;
        line-height: 35px;
    }
    
}
</style>
{% schema %}
{
    "name": "Header",
    "class": "header-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Choose Logo"
        },
        {
            "type": "text",
            "id": "note_text",
            "label": "Note Text",
            "default":"Find the ideal gift for your loved ones."
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default":"Shop Now"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button URL"
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}